html, body {
  padding: 0;
  margin: 0;
  background-color: #DAE0E6;;
  font-family: 'IBM Plex Sans', sans-serif;
}

.headerOuter {
  display: flex;
  -ms-flex: 0;
  flex: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 80;
  margin-top: 0;
  height: 48px;
}
.headerContainer {
  -ms-flex-align: center;
  justify-content: space-around;
  align-items: center;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: white;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 20px;
  gap: 12px;
}
.buttonGroup {
  align-items: center;
  display: inline-flex;
  gap: 12px;
}
.ioButton {
  border-radius: 20px;
  border: solid #0079D3 1px;
  height: 30px;
  font-weight: 800;
  font-size: 1rem;
  padding-left: 12px;
  padding-right: 12px;
}
.iButton {
  background-color: white;
  color: #0079D3;
}
.iButton:hover {
  background-color: #f2f8fc;
}
.oButton {
  background-color: #0079D3;
  color: white;
}
.oButton:hover {
  background-color: #3293db;
}
.faBullhorn {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: none;
}
.faUser {
  background: none;
  border: none;
  height: 20px;
  width: 20px;
  font-size: 1.2rem;
  display: flex;
}
.searchBar {
  min-width: 321px;
  width: 594px;
  height: 33px;
  border: solid 1px #f0f1f3;
  padding-left: 60px;
  background-color: #F6F7F8;
  border-radius: 3px;
}
::placeholder {
  font-size: 1rem;
}
.searchDiv {
  position: relative;
}

.faMag {
  height: 34px;
  width: 44px;
  font-size: 1.3rem;
  position: absolute;
  padding-left: 20px;
  top: 5px
}
.actMag {
  height: 20px;
  width: 20px;
}
.logoWrapper {
  display: flex;
  margin: auto 0;
}
.logo {
  width: 97px;
}
.trending-outer-container {
  max-width: 1020px;
  height: 220px;
  width: 988px;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 0px;
  max-width: 1020px;
  padding-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  vertical-align: baseline;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.trending-container {
  display: block;
  height: 208px;
  width: 988px;
  padding: 16px 24px 0;
  margin: 0;
}
.trendingHeaderContainer {
  padding: 10px 16px 0;
  display: block;
  width: 988px;
  line-height: 16px;
  font-weight: 400;
  font-size: 16px;
}
.trendingHeader {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}

.trend-x1 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100vw;
}
.trendingCard {
  overflow: hidden;
  color: white;
  display: block;
  max-width: 375px;
  width: 238px;
  min-width: 208px;
  height: 178px;
  margin-left: 12px;
  background-color: purple;
  border-radius: 12px;
  
}
.trending-card h4 {
  margin-block-start: 75px;
  margin-block-end: 0px;
  font-weight: 500;
  line-height: 22px;
  margin: 75px 0px 0px 0px;
}
.trending-card-outer {
  position: relative;
  display: flex;
  height: 178px;
}
.trending-card-inner {
  padding: 12px;
  line-height: 16px;
  position: absolute;
  bottom: 0px;
}
.trending-text-container {
  vertical-align: baseline;
  text-overflow: ellipsis;
  font-weight: 500;
  max-height: 40px;
  line-height: 20px;
  margin: 0 0 8px 0;
  font-size: 14px;
}