.viewButtonContainerInverse {
  justify-content: center;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding: 12px;
  height: 32px;
}
.viewButtonContainerInverse a {
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: inherit;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  text-align: center;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  position: relative;
  background-color: var(--newCommunityTheme-body);
  border: solid var(--newCommunityTheme-button) 1px;
  color: var(--newCommunityTheme-button);
  fill: var(--newCommunityTheme-body);
  justify-content: center;
  width: 100%;
  display: flex;
}
.viewButtonContainerInverse a:visited {
  color: var(--newCommunityTheme-button);
}
.top-coms-header-edit {
  margin-top: -21px;
  padding: 12px 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  height: 18px;
  text-align: left;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 13px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: purple;
  position: relative;
}
.modsList ol {
  list-style-position: outside;
  text-align: left;
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
  overflow: hidden;
  color: var(--newCommunityTheme-linkText);
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
}
.faEnv {
  margin: 0px 4px 0px 4px;
}
.viewAllMods {
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--newCommunityTheme-button);
  padding: 0px 12px 12px 12px;
  text-align: right;
}
.tcInside {
  padding: 12px;
}
.colorSpan {
  background-color: rgb(51, 168, 255);
  filter: none;
  margin-top: 49px;
  height: 80px;
  display: block;
}
.comCreatedPicName {
  display: block;
  height: 78px;
  width: 100%;
  margin: 0;
  background-color: white;
}
.comCreatedHeaderContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 16px 0px 24px;
  vertical-align: baseline;
  max-width: 984px;
}
.ccJuice {
  display: flex;
  margin-bottom: 12px;
  margin-top: -14px;
  width: 100%;
}
.imgContainer {
  border-radius: 100%;
  border: 4px solid #fff;
  display: inline-block;
  height: 72px;
  width: 72px;
}
.ccJuice img {
  height: 72px;
  width: 72px;
}
.nameAndButtons {
  box-sizing: border-box;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex: 1;
  flex: 1;
  padding-left: 16px;
  margin-top: 24px;
  -ms-flex-pack: justify;
  position: relative;
  width: calc(100% - 80px);
}
.ccName {
  box-sizing: border-box;
  padding-right: 24px;
}
.ccName h1 {
  font-size: 28px;
  font-weight: bold;
  overflow: hidden;
  padding: 0 2px 4px 0;
  text-overflow: ellipsis;
  width: 100%;
  flex: 1;
  margin: 0;
}
.ccName h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: var(--newRedditTheme-metaText);
  margin: 0;
}
.ccJuice button {
  position: relative;
  border: 1px solid var(--newCommunityTheme-button);
  color: var(--newCommunityTheme-button);
  fill: var(--newCommunityTheme-button);
  background-color: white;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  width: 100%;
}
.block {
  display: block;
}
.ccJoinLeaveNotif {
  display: flex;
}
#joinButton {
  width: 96px;
}
#notifButton {
  margin-left: 8px;
}
.svg svg {
  height: 38px;
  width: 38px;
  background-color: #d7dfe2;
  border-radius: 50%;
  align-items: center;
  margin-right: 10px;
}
.mpContainer {
  margin-bottom: 16px;
  height: 42px;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--newCommunityTheme-postLine);
  padding: 10px 12px;
  overflow: hidden;
}
.mpLinks {
  display: flex;
  width: 38px;
  height: 38px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.mpContainer input,
.mpContainerSmall input {
  width: 486px;
  height: 38px;
  padding: 0px 16px;
  margin: 0 8px 0 0;
}
.mpFa {
  font-size: 20px;
  color: var(--newRedditTheme-actionIcon);
}
.headerOuter a:visited {
  color: black;
}
.addTextLinks a:visited {
  color: #0079d3;
}
.postsBodyContainer {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
}
.emptyPostBody {
  margin: 80px auto;
  width: 80%;
}
.emptyPostBody a {
  width: 200px;

  margin: 0 auto;
}
.beFirstText {
  font-weight: bold;
  margin: 16px;
  color: var(--newCommunityTheme-bodyText);
  font-size: 18px;
  line-height: 22px;
}
.bft {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500px;
}
.top-x-special {
  margin-top: 37px;
}
.faMessage {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: none;
}
.userOptionsContainer {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  color: var(--newCommunityTheme-bodyText);
  background-color: var(--newCommunityTheme-body);
  border: 1px solid var(--newRedditTheme-line);
  box-shadow: none;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 80;
  border-radius: 4px;
  border-top: 1px solid var(--newRedditTheme-line);
  justify-content: flex-end;
  margin-top: 4px;
  padding-bottom: 8px;
  padding-top: 8px;
  position: fixed;
  right: 10px;
  top: 45.5px;
}
.userOptionsContainer a {
  box-sizing: border-box;
  color: var(--newRedditTheme-actionIcon);
  display: block;
  height: 40px;
  width: 100%;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  -ms-flex-align: center;
  align-items: center;
  color: var(--newCommunityTheme-bodyText);
  display: -ms-flexbox;
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
}

.faUser {
  position: relative;
}
.pfpContainer {
  margin-top: 49px;
}
.sortingButton {
  height: 40px;
  display: flex;
  background: var(--newCommunityTheme-body);
  border-bottom: 1px solid var(--newCommunityTheme-line);
  height: 39px;
  text-transform: uppercase;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.sortingButton a {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  -ms-flex-align: center;
  align-items: center;
  color: var(--newCommunityTheme-navIcon);
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 5px;
  padding: 0 8px;
  white-space: nowrap;
}
.inner-menu-control a:visited {
  color: var(--newCommunityTheme-actionIcon);
}
.sortingButton a:visited {
  color: var(--newCommunityTheme-navIcon);
}
.profileSortButtons {
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: inherit;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  width: auto;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: capitalize;
  margin-right: 8px;
  position: relative;
  border: 1px solid transparent;
  min-height: unset;
  min-width: unset;
  padding: 6px 8px;
  border-radius: 20px;
  display: inline-flex;
  --newCommunityTheme-field: #f6f7f8;
  background: var(--newCommunityTheme-field);
  cursor: default;
}
.profileSortButtons a {
  color: var(--newCommunityTheme-actionIcon);
}
.profilePicContainer {
  background-color: var(--newCommunityTheme-banner-backgroundColor);
  border-radius: 4px 4px 0 0;
  height: 94px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100% - 2px);
}
.pfpInner {
  background-color: inherit;
  border-radius: 6px;
  box-sizing: border-box;
  height: 86px;
  margin-left: 5px;
  margin-top: 16px;
  padding: 3px;
  position: relative;
  width: 86px;
}
.acctDetails {
  display: flex;
  flex-wrap: wrap;
}
.accountCreationDate div,
.upvoteScore div {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--newCommunityTheme-metaText);
  margin-left: 4px;
}
.accountCreationDate,
.upvoteScore {
  cursor: default;
  -ms-flex: 1 1;
  flex: 1 1;
  margin-bottom: 12px;
  align-items: center;
}
.profilePic {
  border: solid white 4px;
  border-radius: 4px;
  height: 80px;
  width: 80px;
  position: relative;
}
.accountInfoContainer {
  margin-top: 4rem;
}
.usernameContainer {
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
  font-weight: bold;
  color: black;
}
.topComsUser {
  padding: 12px;
}
.signUpContainerOutside {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 990;
}
.signUpContainer {
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 7px 20px 2px rgb(0 0 0 / 40%);
  height: 650px;
  left: 50%;
  overflow: hidden;
  pointer-events: all;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  z-index: 111;
  display: flex;
}
.signInInputContainer {
  width: 304px;
}
.art-sidebar {
  height: 650px;
  width: 168px;
  background-image: url("../Components/img/art-sidebar.jpg");
  height: 100%;
  top: 0;
  position: relativeA;
  min-height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
}
.agreementTextContainer {
  position: relative;
  padding: 24px;
  width: 100%;
  width: 208px;
}
.xButton {
  position: absolute;
  top: 16px;
  border: none;
  background: none;
  font-size: 20px;
  color: grey;
  right: 16px;
  cursor: pointer;
}
.signUpHeader h1 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: bolder;
  line-height: 22px;
}

.signUpContainerOutside a {
  color: #0079d3;
}
.additionalText {
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;
  margin-bottom: 48px;
}
.signUpButtons {
  padding: 2px 10px;
  display: inline-block;
  color: #202124;
  direction: ltr;
}
.googleButtonContainer {
  width: 280px;
  max-width: 400px;
  min-width: min-content;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dadce0;
  color: #3c4043;
  cursor: pointer;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 20px;
}
.googleButtonInner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}
.googleButtonFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
  width: 100%;
}
.googleButtonFlex span {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  flex-grow: 1;
  color: black;
  text-align: center;
  margin: 0 auto;
}
.googleIco img {
  height: 20px;
  margin-left: 12px;
  margin-top: 2px;
}
.appleIco {
  margin-left: 2px;
}
.appleButtonContainer {
  margin-top: 10px;
}
.spacer {
  width: 280px;
  height: 18px;
  margin: 28px 0;
  align-items: center;
  display: flex;
}
.signInSpacer {
  width: 304px;
  align-items: center;
  justify-content: center;
}
.spacerText {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #878e94;
  margin: 0px 14px;
  justify-content: space-between;
}
.spacerSpan {
  border-top: 1px solid #edeff1;
  width: 40%;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #1a1a1b;
  display: block;
}
.signUpInputContainer {
  margin: 0;
  padding: 0;
}
.signUpInputContainer input {
  width: 100%;
  height: 48px;
  padding: 22px 12px 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fcfcfb;
}

.signUpContainer ::placeholder {
  font-size: 11px;
  font-weight: 600;
  line-height: 21px;
}
.signUpButtonContinue {
  background: #0079d3;
  border-radius: 999px;
  height: 40px;
  padding: 0 16px;
  display: flex;
  margin-top: 10px;
}
.signUpButtonContinue button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto;
}
.altLogin {
  margin-top: 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 20px;
  color: black;
}
.altLogin a {
  font-weight: bolder;
}
.forgotLinks {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.newToRed a {
  color: #0079d3;
}
.newToRed a:visited {
  color: #0079d3;
}
.newToRed {
  margin-bottom: 20px;
}
.signUpInputPW {
  margin-top: 10px;
}
.signInHeader h1 {
  font-size: 18px;
  font-weight: bolder;
  line-height: 22px;
}
.signInContainer {
  width: 576px;
}
.signUpButtonContinue:hover,
.signUpButtonContinue button:hover {
  background-color: #3293db;
  cursor: pointer;
}
