.postFullScreenContainer {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
  margin-top: 49px;
  overflow-y: scroll;
  min-height: 100%;
  min-height: 100vh;
  padding-bottom: 56px;
}

.fullScreenPost {
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
}
.fullScreenPostHeader {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 48px;
  align-items: center;
  font-size: 16px;
  max-width: 1280px;
}
.faxContainer {
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.faX {
  margin-right: 8px;
  font-size: 14px;
}
.commentContainerCenter {
  display: flex;
  margin-left: 40px;
}
.commentContainer {
  padding: 8px;
  min-height: 101px;
  margin-top: 16px;
  color: black;
  max-width: 650px;
}
.commentPicNameContainer {
  display: flex;
  margin: auto 0;
  align-items: center;
}
.commentTextContent {
  margin-left: 48px;
}
.commentTextContent pre {
  white-space: pre-wrap;
}
.commentUpVoteContainer {
  margin-left: 39px;
}
.postTitleFP {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.postTitleFP h1 {
  display: inline;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  min-width: 0;
}

.RichEditor-root {
  background-color: var(--newCommunityTheme-body);
  border-radius: 4px;
  width: 650px;
  color: black;
}
.RichEditor-editor {
  height: 138px;
  text-indent: 20px;
}
.DraftEditor-editorContainer {
  overflow-y: scroll;
}
.DraftEditor-root {
  border: 1px solid var(--newCommunityTheme-line);
}
.RichEditor-styleButton {
  margin: 2px 20px;
  cursor: pointer;
  color: grey;
}
.commentControls {
  display: flex;
  background-color: #e1e7ee;
  height: 34px;
  align-items: center;
}
.commentControls button {
  background-color: var(--newCommunityTheme-button);
  border: none;
  color: var(--newCommunityTheme-body);
  fill: var(--newCommunityTheme-body);
  border-radius: 9999px;
  padding: 4px 20px;
}
.commentButtonContainer {
  position: relative;
}
.submitComment {
  /* display: block; */
  flex: 1;
  margin-left: 100px;
  font-weight: 700;
  margin-right: 20px;
  background-color: var(--newCommunityTheme-button);
  border: none;
  color: var(--newCommunityTheme-body);
  fill: var(--newCommunityTheme-body);
  border-radius: 9999px;
  padding: 4px 20px;
  position: absolute;
  bottom: 13%;
  right: 4%;
}
.commentControlsSP {
  display: flex;
}
.RichEditor-controlsSP {
  width: 100%;
  padding: 8px 16px 8px 16px;
  background-color: #e1e7ee;
  display: flex;
  justify-content: center;
}
.RichEditor-rootSP {
  max-width: 1248px;
}
.extraStyles {
  margin: 24px 40px 24px 40px;
  border: solid #e1e7ee 1px;
}
.postBodyMargin {
  margin: 24px 40px 0px 0;
  width: 650px;
}
.postTitleFP {
  margin: 8px 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: inline;
  position: relative;
  text-decoration: none;
  word-break: break-word;
}
.postBodyText {
  margin: 8px 0;
  color: black;
  font-size: 14px;
}
.richEditCenter {
  display: flex;
  justify-content: center;
}
.postBodyContainerFPInner {
  display: block;
  color: var(--newCommunityTheme-actionIcon);
  --post-line-color: var(--newCommunityTheme-postLine);
  --post-icon-color: var(--newCommunityTheme-postIcon);
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  --posttitletextcolor: var(--newCommunityTheme-titleText);
  --postTitle-VisitedLinkColor: #9b9b9b;
  --postTitleLink-VisitedLinkColor: #9b9b9b;
  width: 650px;
}
.wrapperTEST {
  display: flex;
  justify-content: center;
}
.post-infoFP {
  display: flex;
  width: 650px;
  margin: 0 auto;
}
.cSSContainerFP {
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0 8px 0 0px;
  flex-grow: 1;
}
.likeContainerFP {
  position: absolute;
}
.innerPostContainerCommentMode {
  max-width: 1280px;
  margin: 0 auto;
}

.postFormatContainerCM {
  color: var(--newCommunityTheme-actionIcon);
  --post-line-color: var(--newCommunityTheme-postLine);
  --post-icon-color: var(--newCommunityTheme-postIcon);
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding-top: 8px;
  position: relative;
  background-color: #dae0e6;
  width: 80vw;
  max-width: 1280px;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
}
.holdsAllComments {
  margin-bottom: 120px;
}
.layoutWrapper {
  display: flex;
}

.FPLeftSide {
  justify-content: center;
  align-content: center;
  margin: 8px 20px 0px 20px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
}

.FPRightSide {
  justify-content: center;
  margin-top: 8px;
  display: flex;
}
.postFormatContainerInner {
  border-radius: 6px;
  margin: 0 auto;
  display: flex;
}
.postFormatContainerOuter {
  margin: 0 auto;
  display: flex;
}
.top-x-communities-container {
  padding: 0;
  border: 0;
  font: inherit;
  flex: 0 0 312px;
  width: 312px;
  display: block;
}

.top-coms-header-editFP {
  padding: 12px 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  height: 18px;
  text-align: left;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 13px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: purple;
  position: relative;
}
.fpGap {
  margin-top: 20px;
}
.rulesList ol {
  padding-left: 10px;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
}
.postTitleFPStrict {
  color: black;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1385px) {
  .FPRightSide {
    display: none;
  }
}
@media only screen and (max-width: 985px) {
  .postBodyMargin {
    margin-left: 75px;
  }
  .richEditCenter,
  .commentContainerCenter,
  .cSSContainerFP,
  .FPLeftSide,
  .submitComment {
    margin: 0 auto;
  }
  .FPLeftSideOuter {
    display: flex;
  }
  .FPLeftSide,
  .postBodyContainerFPInner,
  .postMutator,
  .post-infoFP,
  .postTitleFPStrict {
    width: 60vw;
  }
  .RichEditor-root {
    width: 75%;
  }
  .RichEditor-editor,
  .RichEditor-root {
    height: 100px;
  }
  .RichEditor-styleButton {
    display: none;
  }
  .postBodyMargin {
    max-width: fit-content;
  }
  .cSSContainerFP {
    font-size: 8px;
  }
  .post-infoFP {
    justify-content: center;
    text-align: center;
  }
  .postTitleFPStrict {
    font-size: 12px;
    margin: 4px;
    color: black;
    margin-left: 75px;
    max-width: 75%;
    overflow-wrap: break-word;
  }

  .ioButtonComment button a {
    text-align: center;
    margin: 0 auto;
  }
  .ioButtonComment button {
    padding: 8px;
  }
  .submitComment {
    margin: 0px 80px;
  }
  .submitComment {
    flex: 1;
    margin-left: 100px;
    font-weight: 700;
    margin-right: 20px;
    background-color: var(--newCommunityTheme-button);
    border: none;
    color: var(--newCommunityTheme-body);
    fill: var(--newCommunityTheme-body);
    border-radius: 9999px;
    padding: 4px 20px;
    position: absolute;
    bottom: -2%;
    right: 10%;
  }
  .logInToComment {
    max-width: fit-content;
  }
  .subMQ {
    display: none;
  }
}
.loRightSide {
  color: var(--newCommunityTheme-bodyText);
  margin: 0 40px 0 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 0;
}
@media only screen and (max-width: 1130px) {
  .loRightSide {
    margin-right: 0;
  }
}
@media only screen and (max-width: 1080px) {
  .loBull {
    display: none;
  }
}
@media only screen and (max-width: 971px) {
  .logInToComment span {
    font-size: 12px;
  }
  .logInToComment .ioButtonComment button a {
    /* max-width: fit-content; */
    font-size: 12px;
  }
}
@media only screen and (max-width: 932px) {
  .searchDiv {
    max-width: 500px;
  }
}
@media only screen and (max-width: 860px) {
  .oButton {
    display: none;
  }
}
@media only screen and (max-width: 830px) {
  .richEditCenter,
  .commentContainerCenter,
  .cSSContainerFP,
  .FPLeftSide {
    margin: 0 auto;
  }
  .FPLeftSideOuter {
    display: flex;
  }
  .FPLeftSide,
  .postBodyContainerFPInner,
  .postMutator,
  .post-infoFP,
  .postTitleFPStrict {
    width: 60vw;
  }
  .RichEditor-styleButton {
    display: none;
  }
  .postBodyMargin {
    max-width: fit-content;
  }
  .cSSContainerFP {
    font-size: 8px;
  }
  .post-infoFP {
    justify-content: center;
    text-align: center;
  }
  .postTitleFPStrict {
    font-size: 12px;
    margin: 4px;
    color: black;
    margin-left: 75px;
  }
  .likeContainerFP {
    margin-left: -44px;
  }
}
@media only screen and (max-width: 862px) {
  #orig {
    display: none;
  }
  .carousel-x3 {
    margin: 0 auto;
    justify-content: center;
  }
  .header-outside {
    text-align: center;
  }
  .ioButtonComment button {
    display: block;
    padding: 0;
  }
  .inComment {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-self: center;
    align-items: center;
    vertical-align: middle;
    justify-self: center;
    text-align: center;
  }
}
@media only screen and (max-width: 784px) {
  .ioButtonComment button {
    display: flex;
    padding: 0;
  }
  @media only screen and (max-width: 932px) {
    .searchDiv {
      max-width: 400px;
    }
  }
  @media only screen and (max-width: 680px) {
  }
  .outer-menu-control-containerSmall {
    width: 85vw;
  }

  @media only screen and (max-width: 663px) {
    .postBodyMargin {
      overflow-wrap: break-word;
      margin-left: 40px;
    }
    .postTitleFPStrict {
      font-size: 12px;
      margin: 4px;
      /* text-align: center; */
      color: black;
      margin-left: 40px;
    }
    .faMag,
    .faMessage {
      display: none;
    }
    .searchDiv {
      max-width: 40px;
      justify-content: center;
    }
    .bullHornDiv {
      display: none;
    }
  }
  .searchComListQuery {
    display: none;
  }
}
@media only screen and (max-width: 570px) {
  .iButton {
    width: 40px;
    font-size: 10px;
    padding: 4px;
  }
  .loButtonGroup {
    gap: 2px;
  }
}
.adContainer {
  padding: 6px;
  border: 1px solid rgb(204, 204, 204);
  font-weight: 500;
  display: block;
  border-radius: 4px;
}
#adContainer {
  margin-top: 16px;
  position: sticky;
  top: 59px;
}
#redditPremium {
  margin-top: 16px;
}
.adContainer img {
  width: 298px;
  cursor: pointer;
}
.adWords {
  line-height: 12px;
  letter-spacing: 0.5px;
  color: var(--newCommunityTheme-actionIcon);
  font-size: 10px;
}
#supportLinks {
  margin-top: 16px;
  position: sticky;
  top: 302px;
  width: 310px;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
}
.supportLinks {
  background-color: #ffffff;
  color: #1a1a1b;
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  border-radius: 4px;
  overflow: visible;
  word-wrap: break-word;
}
#supportLinks a,
p {
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 3px;
  margin-bottom: 3px;
}
#supportLinks p {
  text-align: center;
  justify-self: center;
  margin: 8px 0px 8px 8px;
  display: flex;
  padding-top: 8px;
}
#supportLinks a:visited {
  color: black;
}
#supportLinks ol {
  list-style: none;
  margin-left: -20px;
}
.top-support-links {
  display: flex;
  padding: 12px 8px;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 3px;
  margin-bottom: 3px;
}

.supportLinksFirst,
.supportLinksSecond {
  display: flex;
  width: 50%;
  flex-flow: column nowrap;
  padding: 0 4px;
}

.lang {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e9ebed;
  border-bottom: 1px solid #e9ebed;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 8px 0 8px;
  width: 100%;
}
.langEn,
.langDeutsch {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
}
.redditPremiumButtonContainer {
  background-color: #ff4500;
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: inherit;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  text-align: center;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  position: relative;
  border: none;
  fill: var(--newCommunityTheme-body);
  justify-content: center;
  max-width: 286px;
  align-self: center;
  display: flex;
  cursor: pointer;
}
.premFlex {
  display: flex;
}
#redditPremium {
  width: 286px;
  padding: 8px 12px;
}
.faShield {
  height: 24px;
  width: 24px;
  flex: 0 0 24px;
  margin-right: 12px;
  vertical-align: middle;
  align-self: center;
  color: #ff4500;
}
.premInfo {
  flex: 1 1 auto;
  margin-bottom: 8px;
}
.premHeader {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 4px;
  font-weight: bold;
}
.premText {
  font-size: 12px;
  font-weight: 400;
}
#loggedInPop {
  margin-top: 49px;
}
.logInToComment {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--newCommunityTheme-line);
  justify-content: space-between;
  margin: 24px 40px;
  width: 650px;
  padding: 12px 8px;
}

.logInToComment a:visited {
  color: black;
}
.ioButtonComment {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
#iButtonComment {
  position: relative;
  color: var(--newRedditTheme-button);
}
#oButtonComment {
  color: var(--newRedditTheme-body);
}
#oButtonComment,
#iButtonComment {
  margin-right: 8px;
  padding: 4px 16px;
}
.logInToComment button {
  background: none;
  border: none;
}
.outerSettingsContainer {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
}
.userSettingsContainer {
  max-width: 688px;
  margin: 49px auto 0 auto;
  padding: 0 16px;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.userSettingsContainer h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: var(--newCommunityTheme-bodyText);
  padding: 40px 0;
}
.userSettingsContainer h3 {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--newCommunityTheme-line);
  color: var(--newCommunityTheme-metaText);
  margin-bottom: 32px;
  padding-bottom: 6px;
}
.userSettingsContainer div {
  display: flex;
}

.changeButton {
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.emailDiv {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.emailDivInner {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.emailDivInner p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--newCommunityTheme-metaText);
}
.settingsIo {
  background-color: white;
  color: var(--newCommunityTheme-button);
  cursor: pointer;
}
.settingsTitle {
  font-size: 16px;
  margin-bottom: 4px;
}
.deleteAccountButton {
  align-items: center;
  background: none;
  border: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ff585b;
  display: -ms-flexbox;
  display: flex;
}
.signUpContainer input {
  margin-bottom: 12px;
}
.googleButtonFlex button {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  color: black;
}
.googleButtonFlex button:hover {
  cursor: pointer;
}

#esSpace {
  margin-left: 4px;
}
.postTitle h3 {
  margin-left: 8px;
}
.sbEdit {
  display: flex;
}
.staleButtonsContainer {
  margin-top: 50px;
  align-items: center;
  display: flex;
  height: 93px;
  justify-content: space-around;
}
.postButtonQuery {
  background-color: var(--newCommunityTheme-field);
  border-radius: 9999px;
  padding: 12px 20px;
  margin-left: 18px;
}
.staleButtonPeople {
  margin-right: 18px;
}
.staleButtonsContainer button {
  border: none;
  font-size: 14px;
  font-weight: 700;
}
.staleButton {
  background: none;
}
.searchPageContainer {
  display: flex;
  margin: 0px auto;
  justify-content: center;
}
.searchComHeader {
  background-color: white;
  height: 20px;
  width: 278px;
  padding: 16px 16px 0 16px;
  font-weight: bolder;
  margin-left: 10px;
}
.searchQueryCom {
  height: 36px;
  width: 278px;
  padding: 16px;
  background-color: white;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin-left: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.joinComQueryButton {
  padding: 16px;
  border: none;
  background-color: var(--newCommunityTheme-field);
  color: var(--newCommunityTheme-button);
  border-radius: 9999px;
  padding: 4px 16px;
  min-height: 32px;
  min-width: 32px;
  width: 88px;
  font-size: 14px;
  font-weight: 700;
}
.queryComName {
  height: 16px;
  width: 138px;
  font-size: 12px;
  font-weight: 700;
}
.queryComName a:visited {
  color: var(--newRedditTheme-metaText);
}
.searchQueryComInfo {
  font-size: 12px;
  font-weight: 400;
  color: var(--newRedditTheme-metaText);
}
.upVoteStyle {
  color: #ff4500;
}
.downVoteStyle {
  color: #7193ff;
}
.noComments {
  text-align: center;
  margin: 12px;
  padding: 12px;
}
.noPostFoundMsg {
  max-width: 30vw;
  padding: 12px;
}
.postFound {
  padding: 12px;
}
.caroPostTitle,
.caroPostBody {
  max-width: 190px;
}
