html,
body {
  --newCommunityTheme-actionIcon: #878a8c;
  --newCommunityTheme-actionIconAlpha20: rgba(135, 138, 140, 0.2);
  --newCommunityTheme-actionIconAlpha50: rgba(135, 138, 140, 0.5);
  --newCommunityTheme-actionIconShaded80: #6c6e70;
  --newCommunityTheme-actionIconTinted80: #9fa1a3;
  --newCommunityTheme-active: #0079d3;
  --newCommunityTheme-activeAlpha10: rgba(0, 121, 211, 0.1);
  --newCommunityTheme-activeAlpha20: rgba(0, 121, 211, 0.2);
  --newCommunityTheme-activeAlpha50: rgba(0, 121, 211, 0.5);
  --newCommunityTheme-activeLight60: #33a8ff;
  --newCommunityTheme-activeShaded80: #0060a8;
  --newCommunityTheme-activeShaded90: #006cbd;
  --newCommunityTheme-activeTinted05: #f2f8fc;
  --newCommunityTheme-backgroundImage: initial;
  --newCommunityTheme-backgroundImagePosition: cover;
  --newCommunityTheme-banner-backgroundColor: #33a8ff;
  --newCommunityTheme-banner-backgroundImage: initial;
  --newCommunityTheme-banner-backgroundImagePosition: cover;
  --newCommunityTheme-banner-communityNameFormat: slashtag;
  --newCommunityTheme-banner-height: 64;
  --newCommunityTheme-banner-iconColor: #0079d3;
  --newCommunityTheme-banner-iconDimensions-borderRadius: 24;
  --newCommunityTheme-banner-iconDimensions-customSize: 32;
  --newCommunityTheme-banner-iconDimensions-padding: 6;
  --newCommunityTheme-banner-iconDimensions-size: 24;
  --newCommunityTheme-banner-iconImage: initial;
  --newCommunityTheme-banner-lineHeight: 38;
  --newCommunityTheme-banner-positionedImage: initial;
  --newCommunityTheme-banner-positionedImageAlignment: left;
  --newCommunityTheme-banner-positionedImageHeight: 48;
  --newCommunityTheme-banner-secondaryBannerPositionedImage: initial;
  --newCommunityTheme-body: #ffffff;
  --newCommunityTheme-bodyAlpha50: rgba(255, 255, 255, 0.5);
  --newCommunityTheme-bodyAlpha70: rgba(255, 255, 255, 0.7);
  --newCommunityTheme-bodyAlpha80: rgba(255, 255, 255, 0.8);
  --newCommunityTheme-bodyFade: #ffffff00;
  --newCommunityTheme-bodyShaded80: #ccc;
  --newCommunityTheme-bodyText: #1c1c1c;
  --newCommunityTheme-bodyTextAlpha03: rgba(28, 28, 28, 0.03);
  --newCommunityTheme-bodyTextAlpha20: rgba(28, 28, 28, 0.2);
  --newCommunityTheme-bodyTextShaded20: #050505;
  --newCommunityTheme-bodyTextTinted20: #d1d1d1;
  --newCommunityTheme-bodyTinted50: #fff;
  --newCommunityTheme-bodyTinted80: #fff;
  --newCommunityTheme-button: #0079d3;
  --newCommunityTheme-buttonAlpha05: rgba(0, 121, 211, 0.05);
  --newCommunityTheme-buttonAlpha10: rgba(0, 121, 211, 0.1);
  --newCommunityTheme-buttonAlpha20: rgba(0, 121, 211, 0.2);
  --newCommunityTheme-buttonAlpha40: rgba(0, 121, 211, 0.4);
  --newCommunityTheme-buttonAlpha50: rgba(0, 121, 211, 0.5);
  --newCommunityTheme-buttonAlpha80: rgba(0, 121, 211, 0.8);
  --newCommunityTheme-buttonShaded80: #0060a8;
  --newCommunityTheme-buttonTinted20: #cce4f6;
  --newCommunityTheme-buttonTinted50: #7fbce9;
  --newCommunityTheme-buttonTinted80: #3293db;
  --newCommunityTheme-canvas: #dae0e6;
  --newCommunityTheme-canvasImgPosition: cover;
  --newCommunityTheme-canvasImgUrl: initial;
  --newCommunityTheme-checkbox: #000000;
  --newCommunityTheme-errorText: #ff0000;
  --newCommunityTheme-field: #f6f7f8;
  --newCommunityTheme-fieldFade: #f6f7f800;
  --newCommunityTheme-flair: #edeff1;
  --newCommunityTheme-highlight: #e5f1fa;
  --newCommunityTheme-inactive: #edeff1;
  --newCommunityTheme-invertFilter: invert(0);
  --newCommunityTheme-lightText: #ffffff;
  --newCommunityTheme-lightTextAlpha75: rgba(255, 255, 255, 0.75);
  --newCommunityTheme-line: #edeff1;
  --newCommunityTheme-lineShaded80: #bdbfc0;
  --newCommunityTheme-lineShaded90: #d5d7d8;
  --newCommunityTheme-lineShadedNinety: #d5d7d8;
  --newCommunityTheme-linkText: #0079d3;
  --newCommunityTheme-linkTextAlpha80: rgba(0, 121, 211, 0.5);
  --newCommunityTheme-linkTextShaded80: #0060a8;
  --newCommunityTheme-linkTextTinted80: #3293db;
  --newCommunityTheme-linkTextWithBody: #3f9ade;
  --newCommunityTheme-menu: #ffffff;
  --newCommunityTheme-menuActiveText: #0079d3;
  --newCommunityTheme-menuButtonBackground-active: rgba(0, 0, 0, 0.08);
  --newCommunityTheme-menuButtonBackground-focus: rgba(0, 0, 0, 0.12);
  --newCommunityTheme-menuButtonBackground-hover: rgba(0, 0, 0, 0.04);
  --newCommunityTheme-menuInactiveText: #0079d3;
  --newCommunityTheme-metaText: #7c7c7c;
  --newCommunityTheme-monospaceColor: #ff006d;
  --newCommunityTheme-navBar-activeLink: #0079d3;
  --newCommunityTheme-navBar-activeSubmenuCaret: #0079d3;
  --newCommunityTheme-navBar-activeSubmenuLink: #0079d3;
  --newCommunityTheme-navBar-backgroundColor: #dbf0ff;
  --newCommunityTheme-navBar-backgroundImage: initial;
  --newCommunityTheme-navBar-hoverLink: #0079d3;
  --newCommunityTheme-navBar-inactiveLink: #0079d3;
  --newCommunityTheme-navBar-inactiveSubmenuCaret: #33a8ff;
  --newCommunityTheme-navBar-inactiveSubmenuLink: #33a8ff;
  --newCommunityTheme-navBar-submenuBackgroundColor: #dbf0ff;
  --newCommunityTheme-navIcon: #1a1a1b;
  --newCommunityTheme-navIconFaded10: rgba(26, 26, 27, 0.1);
  --newCommunityTheme-nsfwBlocking-bgcolor: #edeff1;
  --newCommunityTheme-nsfwBlocking-color: #030303;
  --newCommunityTheme-nsfwBlocking-contentTitleBgColor: #f6f7f8;
  --newCommunityTheme-nsfwBlocking-mainCtaBgColor: #fff;
  --newCommunityTheme-pageHeader: #0079d3;
  --newCommunityTheme-placeholder: #d6d6d6;
  --newCommunityTheme-placeholderImage: initial;
  --newCommunityTheme-placeholderImagePosition: cover;
  --newCommunityTheme-post: #ffffff;
  --newCommunityTheme-postError: #ffe5e5;
  --newCommunityTheme-postFlairText: #1a1a1b;
  --newCommunityTheme-postIcon: #898989;
  --newCommunityTheme-postLine: #ccc;
  --newCommunityTheme-postLineShaded80: #a3a3a3;
  --newCommunityTheme-postLineShaded90: #b7b7b7;
  --newCommunityTheme-postTinted20: #fff;
  --newCommunityTheme-postTransparent20: rgba(255, 255, 255, 0.8);
  --newCommunityTheme-primaryButtonShadedEighty: #0060a8;
  --newCommunityTheme-primaryButtonTintedEighty: #3293db;
  --newCommunityTheme-primaryButtonTintedFifty: #7fbce9;
  --newCommunityTheme-primaryButtonTintedSixty: #66aee4;
  --newCommunityTheme-report: #fff7e5;
  --newCommunityTheme-textTransparentizedEighty: rgba(26, 26, 27, 0.2);
  --newCommunityTheme-titleText: #222222;
  --newCommunityTheme-voteIcons-downvoteActive: initial;
  --newCommunityTheme-voteIcons-downvoteInactive: initial;
  --newCommunityTheme-voteIcons-upvoteActive: initial;
  --newCommunityTheme-voteIcons-upvoteInactive: initial;
  --newCommunityTheme-voteText-base: #898989;
  --newCommunityTheme-voteText-downvote: #7193ff;
  --newCommunityTheme-voteText-downvoteShaded80: #5a75cc;
  --newCommunityTheme-voteText-downvoteTinted80: #8da8ff;
  --newCommunityTheme-voteText-upvote: #ff4500;
  --newCommunityTheme-voteText-upvoteShaded80: #cc3700;
  --newCommunityTheme-voteText-upvoteTinted80: #ff6a32;
  --newCommunityTheme-widgetColors-lineColor: rgba(26, 26, 27, 0.07);
  --newCommunityTheme-widgetColors-sidebarWidgetBackgroundColor: #ffffff;
  --newCommunityTheme-widgetColors-sidebarWidgetBorderColor: #ccc;
  --newCommunityTheme-widgetColors-sidebarWidgetHeaderColor: #ffffff;
  --newCommunityTheme-widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(
    255,
    255,
    255,
    0.6
  );
  --newCommunityTheme-widgetColors-sidebarWidgetTextColor: #1a1a1b;
  --newCommunityTheme-widgetColors-sidebarWidgetTextColorShaded80: #141415;
  --newCommunityTheme-widgetColors-sidebarWidgetTitleColor: #1a1a1b;
  --newRedditTheme-actionIcon: #878a8c;
  --newRedditTheme-actionIconAlpha20: rgba(135, 138, 140, 0.2);
  --newRedditTheme-actionIconAlpha50: rgba(135, 138, 140, 0.5);
  --newRedditTheme-actionIconShaded80: #6c6e70;
  --newRedditTheme-actionIconTinted80: #9fa1a3;
  --newRedditTheme-active: #24a0ed;
  --newRedditTheme-activeAlpha10: rgba(36, 160, 237, 0.1);
  --newRedditTheme-activeAlpha20: rgba(36, 160, 237, 0.2);
  --newRedditTheme-activeAlpha50: rgba(36, 160, 237, 0.5);
  --newRedditTheme-activeLight60: #42adf0;
  --newRedditTheme-activeShaded80: #1c80bd;
  --newRedditTheme-activeShaded90: #2090d5;
  --newRedditTheme-activeTinted05: #f4fafe;
  --newRedditTheme-banner-backgroundColor: #24a0ed;
  --newRedditTheme-banner-backgroundImage: initial;
  --newRedditTheme-banner-backgroundImagePosition: cover;
  --newRedditTheme-banner-communityNameFormat: slashtag;
  --newRedditTheme-banner-height: 64;
  --newRedditTheme-banner-iconColor: #24a0ed;
  --newRedditTheme-banner-iconDimensions-borderRadius: 24;
  --newRedditTheme-banner-iconDimensions-customSize: 32;
  --newRedditTheme-banner-iconDimensions-padding: 6;
  --newRedditTheme-banner-iconDimensions-size: 24;
  --newRedditTheme-banner-iconImage: initial;
  --newRedditTheme-banner-lineHeight: 38;
  --newRedditTheme-banner-positionedImage: initial;
  --newRedditTheme-banner-positionedImageAlignment: cover;
  --newRedditTheme-banner-positionedImageHeight: 48;
  --newRedditTheme-banner-secondaryBannerPositionedImage: initial;
  --newRedditTheme-body: #ffffff;
  --newRedditTheme-bodyAlpha50: rgba(255, 255, 255, 0.5);
  --newRedditTheme-bodyAlpha70: rgba(255, 255, 255, 0.7);
  --newRedditTheme-bodyAlpha80: rgba(255, 255, 255, 0.8);
  --newRedditTheme-bodyFade: #ffffff00;
  --newRedditTheme-bodyShaded80: #ccc;
  --newRedditTheme-bodyText: #1c1c1c;
  --newRedditTheme-bodyTextAlpha03: rgba(28, 28, 28, 0.03);
  --newRedditTheme-bodyTextAlpha20: rgba(28, 28, 28, 0.2);
  --newRedditTheme-bodyTextShaded20: #050505;
  --newRedditTheme-bodyTextTinted20: #d1d1d1;
  --newRedditTheme-bodyTinted50: #fff;
  --newRedditTheme-bodyTinted80: #fff;
  --newRedditTheme-button: #0079d3;
  --newRedditTheme-buttonAlpha05: rgba(0, 121, 211, 0.05);
  --newRedditTheme-buttonAlpha10: rgba(0, 121, 211, 0.1);
  --newRedditTheme-buttonAlpha20: rgba(0, 121, 211, 0.2);
  --newRedditTheme-buttonAlpha40: rgba(0, 121, 211, 0.4);
  --newRedditTheme-buttonAlpha50: rgba(0, 121, 211, 0.5);
  --newRedditTheme-buttonAlpha80: rgba(0, 121, 211, 0.8);
  --newRedditTheme-buttonShaded80: #0060a8;
  --newRedditTheme-buttonTinted20: #cce4f6;
  --newRedditTheme-buttonTinted50: #7fbce9;
  --newRedditTheme-buttonTinted80: #3293db;
  --newRedditTheme-canvas: #dae0e6;
  --newRedditTheme-checkbox: #000000;
  --newRedditTheme-errorText: #ff0000;
  --newRedditTheme-field: #f6f7f8;
  --newRedditTheme-fieldFade: #f6f7f800;
  --newRedditTheme-flair: #edeff1;
  --newRedditTheme-highlight: #e9f5fd;
  --newRedditTheme-inactive: #edeff1;
  --newRedditTheme-invertFilter: invert(0);
  --newRedditTheme-lightText: #ffffff;
  --newRedditTheme-lightTextAlpha75: rgba(255, 255, 255, 0.75);
  --newRedditTheme-line: #edeff1;
  --newRedditTheme-lineShaded80: #bdbfc0;
  --newRedditTheme-lineShaded90: #d5d7d8;
  --newRedditTheme-linkText: #0079d3;
  --newRedditTheme-linkTextAlpha80: rgba(0, 121, 211, 0.5);
  --newRedditTheme-linkTextShaded80: #0060a8;
  --newRedditTheme-linkTextTinted80: #3293db;
  --newRedditTheme-linkTextWithBody: #3f9ade;
  --newRedditTheme-menu: #ffffff;
  --newRedditTheme-menuActiveText: #0079d3;
  --newRedditTheme-menuButtonBackground-active: rgba(0, 0, 0, 0.08);
  --newRedditTheme-menuButtonBackground-focus: rgba(0, 0, 0, 0.12);
  --newRedditTheme-menuButtonBackground-hover: rgba(0, 0, 0, 0.04);
  --newRedditTheme-menuInactiveText: #0079d3;
  --newRedditTheme-metaText: #7c7c7c;
  --newRedditTheme-metaTextAlpha50: rgba(120, 124, 126, 0.5);
  --newRedditTheme-metaTextShaded80: #606364;
  --newRedditTheme-monospaceColor: #ff006d;
  --newRedditTheme-navBar-activeLink: #e9f5fd;
  --newRedditTheme-navBar-activeSubmenuCaret: #24a0ed;
  --newRedditTheme-navBar-activeSubmenuLink: #24a0ed;
  --newRedditTheme-navBar-backgroundColor: #24a0ed;
  --newRedditTheme-navBar-backgroundImage: initial;
  --newRedditTheme-navBar-hoverLink: #e9f5fd;
  --newRedditTheme-navBar-inactiveLink: #edeff1;
  --newRedditTheme-navBar-inactiveSubmenuCaret: #42adf0;
  --newRedditTheme-navBar-inactiveSubmenuLink: #42adf0;
  --newRedditTheme-navBar-submenuBackgroundColor: #def1fc;
  --newRedditTheme-navIcon: #1a1a1b;
  --newRedditTheme-navIconFaded10: rgba(26, 26, 27, 0.1);
  --newRedditTheme-nsfwBlocking-bgcolor: #edeff1;
  --newRedditTheme-nsfwBlocking-color: #030303;
  --newRedditTheme-nsfwBlocking-contentTitleBgColor: #f6f7f8;
  --newRedditTheme-nsfwBlocking-mainCtaBgColor: #fff;
  --newRedditTheme-pageHeader: #0079d3;
  --newRedditTheme-placeholder: #d6d6d6;
  --newRedditTheme-post: #ffffff;
  --newRedditTheme-postError: #ffe5e5;
  --newRedditTheme-postFlairText: #1a1a1b;
  --newRedditTheme-postIcon: #898989;
  --newRedditTheme-postLine: #ccc;
  --newRedditTheme-postLineShaded80: #a3a3a3;
  --newRedditTheme-postLineShaded90: #b7b7b7;
  --newRedditTheme-postTinted20: #fff;
  --newRedditTheme-postTransparent20: rgba(255, 255, 255, 0.8);
  --newRedditTheme-report: #fff7e5;
  --newRedditTheme-search-syntaxHighlightBackgroundColor: #e9f5fd;
  --newRedditTheme-search-syntaxHighlightColor: #1a1a1a;
  --newRedditTheme-titleText: #1a1a1b;
  --newRedditTheme-upsell-appleIcon: #000000;
  --newRedditTheme-upsell-ssoButtonBorderColor: #d3d6da;
  --newRedditTheme-upsell-ssoButtonTextColor: #3d4043;
  --newRedditTheme-voteIcons-downvoteActive: initial;
  --newRedditTheme-voteIcons-downvoteInactive: initial;
  --newRedditTheme-voteIcons-upvoteActive: initial;
  --newRedditTheme-voteIcons-upvoteInactive: initial;
  --newRedditTheme-voteText-base: #898989;
  --newRedditTheme-voteText-downvote: #7193ff;
  --newRedditTheme-voteText-downvoteShaded80: #5a75cc;
  --newRedditTheme-voteText-downvoteTinted80: #8da8ff;
  --newRedditTheme-voteText-upvote: #ff4500;
  --newRedditTheme-voteText-upvoteShaded80: #cc3700;
  --newRedditTheme-voteText-upvoteTinted80: #ff6a32;
  --newRedditTheme-widgetColors-lineColor: rgba(26, 26, 27, 0.07);
  --newRedditTheme-widgetColors-sidebarWidgetBackgroundColor: #ffffff;
  --newRedditTheme-widgetColors-sidebarWidgetBorderColor: #ccc;
  --newRedditTheme-widgetColors-sidebarWidgetHeaderColor: #ffffff;
  --newRedditTheme-widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(
    255,
    255,
    255,
    0.6
  );
  --newRedditTheme-widgetColors-sidebarWidgetTextColor: #1a1a1b;
  --newRedditTheme-widgetColors-sidebarWidgetTextColorShaded80: #141415;
  --newRedditTheme-widgetColors-sidebarWidgetTitleColor: #1a1a1b;
}
.createPostContainer {
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 24px;
  max-width: 1248px;
  margin-top: 48px;
}
.createPost-x1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  min-width: 0;
  width: 100%;
  flex: 1 1 100%;
}
.createPost-x2 {
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding: 0 8px;
}
.createPostHeaderContainer {
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding: 4px;
  margin: 16px 0;
  border-bottom: 1px solid var(--newCommunityTheme-line);
  display: flex;
}
.createPostHeader {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: var(--newCommunityTheme-bodyText);
  flex: 1;
}
.draft-count button {
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  cursor: pointer;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
  font-family: Noto Sans, Arial, sans-serif;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  position: relative;
  border: 1px solid transparent;
  color: var(--newCommunityTheme-button);
  fill: var(--newCommunityTheme-button);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 10px;
}
.draftCountSpan {
  cursor: pointer;
  text-align: center;
  fill: var(--newCommunityTheme-button);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  background: var(--newCommunityTheme-actionIcon);
  border-radius: 2px;
  color: var(--newCommunityTheme-body);
  margin-left: 4px;
  padding: 1px 3px;
}
.chooseCommunityContainer {
  --background: #ffffff;
  --canvas: #dae0e6;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}
.chooseCommunity-x1 {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  box-sizing: border-box;
  min-width: 300px;
  height: 40px;
  border-radius: 4px;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 0 0 0 var(--newCommunityTheme-body);
  border: 1px solid var(--newCommunityTheme-line);
  background-color: var(--newCommunityTheme-body);
  margin-right: 16px;
}
.chooseCommunity-x2 {
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 8px;
}
.circlePlaceHolder {
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  height: 22px;
  width: 22px;
  font-size: 22px;
  line-height: 22px;
  box-sizing: border-box;
  border-radius: 22px;
  border: 1px dashed var(--newCommunityTheme-actionIcon);
}
.inputCommunity {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  flex: 1;
  padding-left: 8px;
}
.inputCommunity input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  width: 100%;
  vertical-align: middle;
  background-color: transparent;
  color: var(--newRedditTheme-bodyText);
  caret-color: var(--newRedditTheme-button);
}
.dropDownCommunity {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  cursor: pointer;
}
.createPostFormContainer {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background-color: var(--newRedditTheme-post);
  margin-bottom: 15px;
  border-radius: 5px;
}
.formHeaderContainer {
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin: 0 0 12px;
  overflow: auto;
}
.formHeaderContainer-x1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  flex-direction: row;
  align-items: stretch;
  display: flex;
}
.postButton {
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  border: none;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  padding: 15px 17px;
  z-index: 1;
  position: relative;
  flex: 1;
  text-align: center;
  border-color: var(--newRedditTheme-line);
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: var(--newRedditTheme-button);
  white-space: nowrap;
}
.createFA {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  margin-right: 8px;
}
.disabledButton {
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  border: none;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  padding: 15px 17px;
  z-index: 1;
  position: relative;
  flex: 1;
  text-align: center;
  border-color: var(--newRedditTheme-line);
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: var(--newRedditTheme-actionIcon);
  white-space: nowrap;
}
.textAreaContainer {
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin: 16px;
}
.textAreaContainer-x1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin-bottom: 8px;
}
.titleTextArea {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: inherit;
  resize: none;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  width: 100%;
  outline: none;
  border-radius: 4px;
  padding: 8px 68px 8px 16px;
  border: 1px solid var(--newCommunityTheme-line);
  background-color: transparent;
  color: var(--newRedditTheme-bodyText);
  caret-color: var(--newRedditTheme-button);
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: 39px;
}
.textFormattingButtonsContainer {
  margin-top: 50px;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: relative;
}
.textFormattingButtonsContainer-x1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: relative;
}
.textFormattingButtonsContainer-x2 {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  background: var(--newRedditTheme-post);
  border: 1px solid var(--newCommunityTheme-line);
  position: relative;
  border-radius: 4px;
}
.actualButtonInfluence {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  align-items: center;
  background-color: var(--newCommunityTheme-field);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  position: sticky;
  top: 48px;
  z-index: 8;
}
.actualButtonInfluence-x1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  align-items: center;
  margin-left: 4px;
  position: relative;
  height: 100%;
  width: 100%;
}
.strictlyButtons {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: absolute;
  display: flex;
  align-items: center;
}
.strictlyButtons span {
  --background: #ffffff;
  --canvas: #dae0e6;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
.strictlyButtons button {
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  width: auto;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  border: 1px solid transparent;
  fill: var(--newCommunityTheme-button);
  align-items: center;
  box-sizing: border-box;
  display: flex;
  line-height: 0;
  outline: none;
  padding: 4px;
  position: relative;
  transition: background-color 0.1s;
  border-radius: 2px;
  color: var(--newCommunityTheme-actionIcon);
  max-height: 20px;
}
.textFormatIcon {
  text-align: center;
  letter-spacing: unset;
  text-transform: unset;
  fill: var(--newCommunityTheme-button);
  color: var(--newCommunityTheme-actionIcon);
  margin: 10px;
  border: 0;
  font: inherit;
  font-weight: 400;
  vertical-align: middle;
  display: inline-block;
  height: 20px;
  width: 20px;
  font-size: 20px;
  line-height: 20px;
  padding: 0;
}
.markdownMode {
  vertical-align: baseline;
  background: transparent;
  cursor: pointer;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 16px;
  text-transform: unset;
  min-height: 24px;
  min-width: 24px;
  padding: 4px 8px;
  position: relative;
  border: 1px solid transparent;
  color: var(--newCommunityTheme-button);
  fill: var(--newCommunityTheme-button);
  white-space: pre-wrap;
  word-break: keep-all;
}
.textBodyContainer {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
.textBodyContainer-x1 {
  -webkit-line-break: after-white-space;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  height: inherit;
  text-align: initial;
  -webkit-user-modify: read-write-plaintext-only;
  background-color: var(--newCommunityTheme-body);
  border-radius: 4px;
  font-family: Noto Sans, Arial, sans-serif;
  min-height: 122px;
  overflow: hidden;
  padding: 8px 16px;
  resize: vertical;
  color: var(--newRedditTheme-bodyText);
  caret-color: var(--newRedditTheme-button);
  outline: none;
  -webkit-user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.faAddFlair {
  text-align: center;
  letter-spacing: unset;
  text-transform: unset;
  cursor: not-allowed;
  color: var(--newCommunityTheme-actionIconAlpha50);
  fill: var(--newCommunityTheme-actionIconAlpha50);
  margin: 0;
  border: 0;
  font: inherit;
  font-weight: 400;
  vertical-align: middle;
  display: inline-block;
  padding: 0 8px 0 0;
  height: 20px;
  width: 20px;
  font-size: 20px;
  line-height: 20px;
}
.tagAndSubmit {
  margin: 10px 0 0 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.tagContainer {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-flow: column nowrap;
  max-width: 100%;
  min-width: 0;
}
.tagList {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 530px;
}
.tagList button {
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  margin-bottom: 8px;
  margin-right: 4px;
  padding: 4px 16px;
  z-index: 1;
  position: relative;
  border: 1px solid var(--newCommunityTheme-actionIcon);
  cursor: not-allowed;
  filter: grayscale(1);
  border-color: var(--newCommunityTheme-actionIconAlpha50);
  color: var(--newCommunityTheme-actionIconAlpha50);
  fill: var(--newCommunityTheme-actionIconAlpha50);
  overflow: visible;
}
.draftOrSubmit {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-top: 8px;
  gap: 10px;
}
.postSubmitButton button {
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  position: relative;
  border: none;
  width: 100%;
  cursor: not-allowed;
  filter: grayscale(1);
  background-color: var(--newCommunityTheme-buttonTinted80);
  color: var(--newCommunityTheme-bodyAlpha50);
  fill: var(--newCommunityTheme-bodyAlpha50);
}
.saveDraft button {
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  position: relative;
  border: 1px solid var(--newCommunityTheme-button);
  width: 100%;
  cursor: not-allowed;
  filter: grayscale(1);
  border-color: var(--newCommunityTheme-buttonAlpha50);
  color: var(--newCommunityTheme-buttonAlpha50);
  fill: var(--newCommunityTheme-buttonAlpha50);
}
.Selected {
  color: black;
  max-width: 20px;
  max-height: 20px;
}
.displayNone {
  display: none;
}
.dropDownContainer {
  display: none;
  top: 29px;
  right: -8px;
  z-index: 999;
  position: absolute;
  width: 281px;
  padding: 8px;
  border: 1px solid var(--newCommunityTheme-line);
  background-color: var(--newCommunityTheme-body);
  flex-direction: column;
  overflow-y: scroll;
  height: 402px;
}
.show {
  display: flex;
}

.indComStyle {
  display: flex;
  align-items: center;
  min-height: 52px;
  max-height: 52px;
}
.flexSpans {
  display: flex;
  flex-direction: column;
}

.dropDownCommunity img {
  height: 32px;
  width: 32px;
  padding: 2px 8px 2px 0px;
}
.liSubName {
  color: #1c1c1c;
  font-size: 14px;
}

.liSubMemberCount {
  color: #878a8c;
  font-size: 12px;
}
.yourComStyle {
  font-size: 12px;
  font-weight: bolder;
  color: #878a8c;
  padding: 8px 8px 3px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yourComStyle button {
  background: none;
  border: none;
  color: #0079d3;
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
}
.yourComStyle button:hover {
  border-radius: 24px;
  background-color: #e7e6e6;
}
