.blackScreen {
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  z-index: 999;
  padding-top: -100px;
}
.newComContainer {
  position: relative;
  box-sizing: border-box;
  margin: auto auto;
  background-color: var(--newCommunityTheme-body);
  justify-content: center;
  align-content: center;
  height: 525px;
  padding: 16px;
  border-radius: 4px;
  max-height: 100vh;
  max-width: 568px;
  max-width: 100vw;
}
.ccHeader {
  border-bottom: 1px solid var(--newCommunityTheme-line);
}
.ccHeader h1 {
  font-size: 16px;
  line-height: 20px;
  color: var(--newCommunityTheme-bodyText);
}
.ccName span {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.ccComType {
  display: flex;
  vertical-align: baseline;
  flex-direction: column;
}
.ccComType div {
  display: flex;
  margin-bottom: 16px;
}

.ccTypeInfo {
  color: var(--newCommunityTheme-metaText);
  font-size: 12px;
  font-weight: 400;
  margin: 3px 0 0 4px;
}
.ccNameSpan {
  font-size: 16px;
  line-height: 20px;
  font-weight: bolder;
  color: #1c1c1c;
}
.nameInfo {
  color: #7c7c7c;
}

#ccNameInput {
  font-size: 14px;
  display: block;
  text-indent: 10px;
  background-color: var(--newCommunityTheme-body);
  border: 1px solid var(--newCommunityTheme-line);
  color: var(--newCommunityTheme-bodyText);
  box-sizing: border-box;
  height: 48px;
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 12px 24px 4px 12px;
  width: 100%;
  z-index: 999;
}
.ccFooter button {
  top: 0;
  left: 0;
  border-radius: 9999px;
  font-size: 14px;
  padding: 4px 16px;
  min-height: 32px;
  min-width: 32px;
  letter-spacing: unset;
  line-height: 17px;
  font-weight: 700;
}
.ccFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px 0px 16px 0px;
  background-color: var(--newCommunityTheme-line);
  margin: 16px -16px -16px;
  display: flex;
  justify-content: flex-end;
  border-bottom-right-radius: 4px;
}
.ccCreateButton {
  border: var(--newCommunityTheme-button) solid 1px;
  background-color: var(--newCommunityTheme-button);
  color: var(--newCommunityTheme-body);
  margin-left: 10px;
  margin-right: 10px;
}
.ccCancelButton {
  border: var(--newCommunityTheme-button) solid 1px;
  color: var(--newCommunityTheme-button);
  background-color: var(--newCommunityTheme-body);
}
.ccButtonContainer {
  display: flex;
}
.ccFa {
  color: var(--newCommunityTheme-metaText);
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
.ccCancelButton:hover {
  background-color: #ced2d4;
  cursor: pointer;
}
.ccCreateButton:hover {
  background-color: #3293db;
  cursor: pointer;
}
.ccrPlaceholder {
  color: rgb(152, 156, 160);
  display: block;
  font-family: IBMPlexSans, Arial, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: 16px;
  left: 12px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  pointer-events: auto;
  position: relative;
  top: 39px;
}
.ccNotice {
  display: inline;
  color: orange;
}
